@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'VONIQUE' ; 
  src: url('../public/fonts/Vonique.ttf');

}

@font-face{
  font-family:'OSTRICH';
    src: url('../public/fonts/ostrich-sans.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.vertical{
  @apply h-full bg-stone-50 text-center;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.typed{
    animation: show 7s;
   font-size: clamp(2rem, -0.975rem + 13vmin, 11rem);
}

h1{

   font-size: clamp(2rem, -0.875rem + 11vw, 7.5rem);
}


h2{

   font-size: clamp(1.8rem, -0.875rem + 8vw, 6rem);
}

h3{
     font-size: clamp(1.5rem, -0.875rem + 6vw, 4rem); 
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}


.scrollCar {
  animation: slide 16s linear  infinite .3s  ;
 
}


.book{
  
  perspective:1000px;
  transform-style:preserve-3d;
  animation: flip 7s infinite ease-out  alternate 1.5s ;
}

.front{
  transform: rotateX(0) translate3d(0, 0 , 2vmin) ;
}


.back{
  transform: rotateX(180deg) translate3d(0, 0 , 2vmin) ;
}

 @keyframes flip{
    0%,50% { 
      transform: rotateX(0);
    }
    60%,100%{
      transform: rotateX(180deg);
    }
} 

 @keyframes slide{
    from {
      transform: translate3d(190vw,0,0);
    }
    to{
      transform: translate3d(-190vw,0,0);
    }
  }


 @keyframes show{
    from {
      opacity: 0;
    }
    to{
      opacity:1;
    }
  }



h4{
  font-size: clamp(.5rem,2vmin,2.3rem)
}  

h5{
  font-size: clamp(.4rem,1.5vmin,1.5rem)
}


.tempcard{ 
  @apply rounded-2xl;
  box-shadow: 0px 15px 25px -8px rgba(0,0,0,1);
}

