@import _mixin

@keyframes hello
    from
        transform:  perspective(100rem)  translate3d(0,10rem,0rem)  rotateX(0) 
        opacity: 0
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%)
    to    
        opacity: 1
        transform: perspective(50rem) translate3d(0,0,-4rem) rotateX(0) 
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)


@keyframes flip
    0%,100% 
        transform:   perspective(50rem) translate3d(0,0,-4rem) rotateX(0) 
    40%,60%
        transform:  perspective(50rem)  translate3d(0,0,-4rem) rotateX(180deg)  

@include animate(fade-inDown , 0 , -3)	



@keyframes move
    from 
        transform: translate3d(-150vw,0,0) 
    to
        transform: translate3d(150vw,0,0)    


.car
    width: 100%
    @include flex(center,center,row)
    gap: 5vw
    overflow: hidden
    > *
        font-size: 8vw
        padding: 1vw 3vw
        text-transform: uppercase
        animation: move 15s linear infinite alternate
        








.name
    z-index: 0
    font-size: 15vw
    font-weight: bold
    letter-spacing: 1vw
    color: $white
    text-shadow: 0 0 1vh transparent
    transition: all 400ms ease
    max-width: 100%
    min-width: 100%
    text-align: left
    position: relative
    animation: fade-inDown 2s $cubic .8s both
    @include flex(flex-start,flex-start,row)
    > *
        text-align: left
        height: 100%   
    .first
        width:30%
        padding-right: 2vw  
        height: 20vw
        line-height: 20vw
        align-self: flex-start 
    .inner
        width: 70%
        height: 20vw
        line-height: 20vw
        
        opacity: 1
        &:after
            visibility: visible
            content: ''
            background-color: $white
            display: inline-block
            position: relative
            width: .08em
            height: 1em
            border-radius: 5em
            top: 5px
            margin-left: 3px
        





.homeWrap
    min-width: 95vw
    width: 95vw
    min-height: 95vh
    height: 95vh
    
    @media only screen and (min-width: 1002px)
        @include flex(flex-start,flex-end,column)
        gap: 4vh
    @media only screen and (min-width: 1px) and (max-width: 1001px)
        @include flex(flex-start,center,column)
        gap: 5vw
        padding-top: 5vw
    
    .hello
        font-size: $h1
        width: 100%
        transform: perspective(50rem) translate3d(0,0,-4rem) rotateX(0) 
        letter-spacing: 1vw
        position: relative
        transform-style: preserve-3d
        height: 10vh
        width: 35vh
        animation: hello 2s $cubic  , flip 3s ease infinite 2.5s 
        > *
            transform-style: preserve-3d
            position: absolute
            text-align: left
            height: 100%
            width: fit-content
            min-width: 40vw
            line-height: 10vh
            backface-visibility: hidden
        .front
            transform: perspective(100vh)  translate3d(0,0,2vh)  
        .back   
            transform: perspective(100vh) translate3d(0,0,2vh) rotateX(180deg) 
