@import _mixin


.bodyWrap
    min-height: 100vh
    @include flex(center,flex-start,column)
    min-width: 100vw
    width: 100vw
    height: 100vh
    position: relative
    .nav
       
        position: absolute
        
        @include flex(flex-end,center,column)
        height: 100vh
        @media only screen and (min-width: 1002px)
            width: 45vw
            top: .8vh
            right: .8vh
        @media only screen and (min-width: 1px) and (max-width: 1001px)
            width: 65vw
            top: 0
            right: 1vh  
      
        
.content
    height: 80vh
    width: 100vw
    @include flex(center,center,column)

    
    
